* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie{
    display: flex;
    align-items: flex-start;
    width: 47%;
    background-color: white;
    margin-bottom: 70px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.movie:hover {
    transform: translate(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.poster {
    position: relative;
    top: -40px;
    width: 140px;
    height: 210px;
    border-radius: 8px;
    margin-right: 25px;
}


